:root {
  --color-primary: #036eb8;
  --color-secondary: #172a88;
  --color-accent: #f39800;
  --color-exhibition-a: #036eb8;
  --color-exhibition-b: #faee00;
  --color-info: #2196f3;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
}
