:root {
  --color-primary: #3f3f46;
  --color-secondary: #6d28d9;
  --color-accent: #c2410c;
  --color-exhibition-a: #047857;
  --color-exhibition-b: #0369a1;
  --color-info: #2196f3;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
}
