:root {
  --color-primary: #99c223;
  --color-secondary: #2350c2;
  --color-accent: #fff100;
  --color-exhibition-a: #e60012;
  --color-exhibition-b: #00a33e;
  --color-info: #2196f3;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
}
