@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply text-slate-600;
  }
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-bold;
  }
  h5 {
    @apply text-lg;
    @apply font-bold;
  }
  a {
    @apply text-blue-600;
  }
  input {
    @apply rounded;
    @apply border-2;
    @apply border-gray-300;
    @apply px-2;
    @apply py-1;
    @apply text-lg;
  }
  textarea {
    @apply rounded;
    @apply border-2;
    @apply border-gray-300;
    @apply px-2;
    @apply py-1;
    @apply text-lg;
  }
}
