@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply text-slate-600;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
  }
  h4 {
    @apply text-lg;
    @apply font-bold;
  }
  h5 {
    @apply font-bold;
  }
  a {
    @apply text-blue-600;
  }
}
