/* システムがマウントされるまでボディを隠す */
body {
  visibility: hidden;
}
/* hiddenの解除はv-appコンポーネントで行われます */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-600;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight text-slate-500 font-mono;
  }
  h3 {
    @apply text-2xl font-bold text-slate-700 font-mono;
  }
  h4 {
    @apply text-base font-bold tracking-wider text-slate-800 uppercase font-mono;
  }
  h5 {
    @apply text-sm font-bold tracking-wider text-slate-900 font-mono;
  }
  a {
    @apply text-blue-600;
  }
  input {
    @apply rounded border-2 border-gray-300 px-2 py-1 text-lg;
  }
  textarea {
    @apply rounded border-2 border-gray-300 px-2 py-1 text-lg;
  }
  th,
  td {
    @apply p-1;
  }
}
